*.elc
TAGS
configure.lineno
ChangeLog
base64-decode
base64-encode
qp-decode
qp-encode
base64-decode.exe
base64-encode.exe
qp-decode.exe
qp-encode.exe
*.info*
*.diff
*.log
*.aux
*.cp*
*.dvi
*.fn*
*.ilg
*.in*
*.ky*
*.pdf
*.pg*
*.ps
*.toc
*.tp*
*.vr*
Makefile
auto-autoloads.el
custom-load.el
vm-load.el
autom4te.cache
config.log
config.status
configure
release
snapshot
*.orig
*.rej
*.saved
package-info
_pkg.el
commit.msg

/info/version.texinfo
/lisp/vm-autoloads.el
/lisp/vm-version-conf.el
/lisp/vm-cus-load.el

.emacs.bak/
